body {
    margin-left: 3rem;
    margin-right: 3rem;
}


.header-logo {
    width: 10rem;
    height: 7rem;
}

.header-main {
    display:  flex;
    justify-content:  space-around;
}
.header-menu {
    padding: 1rem;
}

.banner-image {
    width: 100%;
}

